*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.searchBarContainer{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 100;
    position: fixed;
    top:0;
    left:0;
}
.searchBar{
    background-color: #F1F4F6;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    box-shadow: 5px 4px 3px #eee;
    z-index: 100;
}
.search-containers{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-containers input{
    padding: 10px;
    width:90%;
    border: none;
    outline: none;
}
.fa-arrow-circle-left{
    font-size: 25px;
    position: relative;
    left:-20px;
    background-color: blanchedalmond;
    cursor: pointer;
    color: cadetblue;
}